
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <form asp-controller="UploadFile" asp-action="UploadFile" method="post"
              enctype="multipart/form-data">

            <input type="file" name="file" />
            <button type="submit">Upload File</button>
        </form>
    </div>

